In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
# Create dataframe for each year's csv of crime data from DC Open Data
# Source link for 2018: http://opendata.dc.gov/datasets/crime-incidents-in-2018
df_dc_2009 = pd.read_csv('Crime_Incidents_in_2009.csv')
df_dc_2010 = pd.read_csv('Crime_Incidents_in_2010.csv')
df_dc_2011 = pd.read_csv('Crime_Incidents_in_2011.csv')
df_dc_2012 = pd.read_csv('Crime_Incidents_in_2012.csv')
df_dc_2013 = pd.read_csv('Crime_Incidents_in_2013.csv')
df_dc_2014 = pd.read_csv('Crime_Incidents_in_2014.csv')
df_dc_2015 = pd.read_csv('Crime_Incidents_in_2015.csv')
df_dc_2016 = pd.read_csv('Crime_Incidents_in_2016.csv')
df_dc_2017 = pd.read_csv('Crime_Incidents_in_2017.csv')
df_dc_2018 = pd.read_csv('Crime_Incidents_in_2018.csv')

In [24]:
# Check headings and data
# Can quickly see that BID contains nulls and is therefore likely not useful for us
# We'll keep it for now though
df_dc_2009.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.999518,38.904689,162302,2009-11-12T18:00:00.000Z,EVENING,OTHERS,MOTOR VEHICLE THEFT,1100 - 1199 BLOCK OF 5TH STREET NE,400042.0,137425.0,...,010600 2,10600.0,Precinct 83,38.904682,-76.999516,NaN,2009-11-06T12:00:00.000Z,2009-11-12T17:00:00.000Z,261200266,00162302-01
1,-77.022949,38.917236,174072,2009-12-06T23:30:00.000Z,MIDNIGHT,OTHERS,THEFT F/AUTO,2000 - 2099 BLOCK OF 8TH STREET NW,398010.0,138818.0,...,003500 2,3500.0,Precinct 37,38.917228,-77.022947,NaN,2009-12-06T21:30:00.000Z,2009-12-06T23:30:00.000Z,261200267,00174072-01
2,-77.021912,38.919497,2001387,2009-10-20T08:59:00.000Z,DAY,OTHERS,THEFT/OTHER,2200 - 2299 BLOCK OF GEORGIA AVENUE NW,398100.0,139069.0,...,003500 2,3500.0,Precinct 37,38.919489,-77.021910,NaN,2002-01-26T17:00:00.000Z,2002-01-26T00:00:00.000Z,261200269,02001387-01
3,-77.021920,38.907912,5147017,2009-10-20T09:32:00.000Z,DAY,KNIFE,ASSAULT W/DANGEROUS WEAPON,1300 - 1399 BLOCK OF 7TH STREET NW,398099.0,137783.0,...,004902 1,4902.0,Precinct 18,38.907905,-77.021918,NaN,2005-04-30T06:45:00.000Z,2005-04-30T00:00:00.000Z,261200274,05147017-01
4,-76.965694,38.853003,6165160,2009-11-18T10:44:00.000Z,DAY,OTHERS,MOTOR VEHICLE THEFT,2966 - 3031 BLOCK OF 30TH STREET SE,402978.0,131688.0,...,007502 2,7502.0,Precinct 115,38.852995,-76.965692,NaN,2009-11-16T17:30:00.000Z,2009-11-18T08:45:00.000Z,261200280,06165160-01

In [25]:
# Check headings and data. Data from 2009 and 2018 have the same headers.
# This should mean we can put all csvs together into one dataframe
df_dc_2018.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.960110,38.929158,18219944,2018-12-28T10:01:32.000Z,DAY,OTHERS,THEFT F/AUTO,2855 3200 BLOCK OF BLADENSBURG ROAD NE,403459.0,140142.0,...,011100 1,11100.0,Precinct 71,38.929150,-76.960108,NaN,2018-12-28T07:46:04.000Z,2018-12-28T08:59:50.000Z,260037641,18219944-01
1,-76.936325,38.894457,18219946,2018-12-28T08:32:10.000Z,DAY,OTHERS,MOTOR VEHICLE THEFT,4500 - 4699 BLOCK OF DIX STREET NE,405524.0,136291.0,...,007803 3,7803.0,Precinct 98,38.894449,-76.936323,NaN,2018-12-27T17:45:30.000Z,2018-12-28T06:30:32.000Z,260037642,18219946-01
2,-77.028867,38.895236,18219963,2018-12-28T09:39:49.000Z,DAY,OTHERS,THEFT/OTHER,1200 - 1299 BLOCK OF PENNSYLVANIA AVENUE NW,397496.0,136376.0,...,006202 1,6202.0,Precinct 129,38.895228,-77.028865,DOWNTOWN,2018-12-26T17:50:26.000Z,2018-12-28T09:30:07.000Z,260037643,18219963-01
3,-77.040307,38.904241,18219967,2018-12-28T10:03:42.000Z,DAY,OTHERS,THEFT/OTHER,1100 - 1129 BLOCK OF CONNECTICUT AVENUE NW,396504.0,137376.0,...,010700 1,10700.0,Precinct 17,38.904233,-77.040305,GOLDEN TRIANGLE,2018-12-28T02:00:15.000Z,2018-12-28T02:40:52.000Z,260037644,18219967-01
4,-77.028091,38.916289,18219971,2018-12-28T09:54:25.000Z,DAY,OTHERS,THEFT F/AUTO,1900 - 1999 BLOCK OF 12TH STREET NW,397564.0,138713.0,...,004400 2,4400.0,Precinct 22,38.916281,-77.028089,NaN,2018-12-28T09:25:15.000Z,NaN,260809629,18219971-01

In [26]:
df_dc_full = pd.concat([df_dc_2009,df_dc_2010,df_dc_2011,df_dc_2012,df_dc_2013,df_dc_2014,df_dc_2015,df_dc_2016,df_dc_2017,df_dc_2018])

In [27]:
df_dc_full.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.999518,38.904689,162302,2009-11-12T18:00:00.000Z,EVENING,OTHERS,MOTOR VEHICLE THEFT,1100 - 1199 BLOCK OF 5TH STREET NE,400042.0,137425.0,...,010600 2,10600.0,Precinct 83,38.904682,-76.999516,NaN,2009-11-06T12:00:00.000Z,2009-11-12T17:00:00.000Z,261200266,00162302-01
1,-77.022949,38.917236,174072,2009-12-06T23:30:00.000Z,MIDNIGHT,OTHERS,THEFT F/AUTO,2000 - 2099 BLOCK OF 8TH STREET NW,398010.0,138818.0,...,003500 2,3500.0,Precinct 37,38.917228,-77.022947,NaN,2009-12-06T21:30:00.000Z,2009-12-06T23:30:00.000Z,261200267,00174072-01
2,-77.021912,38.919497,2001387,2009-10-20T08:59:00.000Z,DAY,OTHERS,THEFT/OTHER,2200 - 2299 BLOCK OF GEORGIA AVENUE NW,398100.0,139069.0,...,003500 2,3500.0,Precinct 37,38.919489,-77.021910,NaN,2002-01-26T17:00:00.000Z,2002-01-26T00:00:00.000Z,261200269,02001387-01
3,-77.021920,38.907912,5147017,2009-10-20T09:32:00.000Z,DAY,KNIFE,ASSAULT W/DANGEROUS WEAPON,1300 - 1399 BLOCK OF 7TH STREET NW,398099.0,137783.0,...,004902 1,4902.0,Precinct 18,38.907905,-77.021918,NaN,2005-04-30T06:45:00.000Z,2005-04-30T00:00:00.000Z,261200274,05147017-01
4,-76.965694,38.853003,6165160,2009-11-18T10:44:00.000Z,DAY,OTHERS,MOTOR VEHICLE THEFT,2966 - 3031 BLOCK OF 30TH STREET SE,402978.0,131688.0,...,007502 2,7502.0,Precinct 115,38.852995,-76.965692,NaN,2009-11-16T17:30:00.000Z,2009-11-18T08:45:00.000Z,261200280,06165160-01

In [28]:
# Quick look at full dataset
# Looks like 346,928 observations total - not every observation has every feature (ex: ward, district missing for some observations)
pd.DataFrame.describe(df_dc_full)

,X,Y,CCN,XBLOCK,YBLOCK,WARD,DISTRICT,PSA,CENSUS_TRACT,LATITUDE,LONGITUDE,OBJECTID
count,346928.000000,346928.000000,3.469280e+05,346928.000000,346928.000000,346917.000000,346726.000000,346694.000000,345907.000000,346928.000000,346928.000000,3.469280e+05
mean,-77.008154,38.906312,1.370009e+07,399293.539017,137605.820542,4.439883,3.729380,378.212248,6213.643711,38.906305,-77.008152,2.610538e+08
std,0.036298,0.031359,2.845339e+06,3148.138375,3481.232674,2.367175,1.927187,192.326325,3141.769668,0.031359,0.036298,2.740042e+05
min,-77.113645,38.813478,1.000600e+05,390147.000000,127300.000000,1.000000,1.000000,101.000000,100.000000,38.813471,-77.113642,2.600376e+08
25%,-77.031969,38.891416,1.114292e+07,397227.000000,135954.000000,2.000000,2.000000,207.000000,3500.000000,38.891408,-77.031967,2.608925e+08
50%,-77.013089,38.906444,1.403787e+07,398866.000000,137621.000000,5.000000,3.000000,308.000000,7000.000000,38.906437,-77.013086,2.611260e+08
75%,-76.985526,38.925404,1.610960e+07,401256.000000,139725.000000,6.000000,5.000000,507.000000,8904.000000,38.925396,-76.985524,2.612514e+08
max,-76.910023,38.994909,9.943899e+07,407806.000000,147441.000000,8.000000,7.000000,708.000000,11100.000000,38.994901,-76.910021,2.615814e+08

In [32]:
# Full list of column names
list(df_dc_full.columns.values)

['X',
 'Y',
 'CCN',
 'REPORT_DAT',
 'SHIFT',
 'METHOD',
 'OFFENSE',
 'BLOCK',
 'XBLOCK',
 'YBLOCK',
 'WARD',
 'ANC',
 'DISTRICT',
 'PSA',
 'NEIGHBORHOOD_CLUSTER',
 'BLOCK_GROUP',
 'CENSUS_TRACT',
 'VOTING_PRECINCT',
 'LATITUDE',
 'LONGITUDE',
 'BID',
 'START_DATE',
 'END_DATE',
 'OBJECTID',
 'OCTO_RECORD_ID']